.client-pere {

  .client-container {
    display: flex;

    .content {
      width: 60%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 12px;
      padding: 5px 0;
      box-shadow: 10px 13px 12px 1px rgba(0, 0, 0, 0.164);
      border-bottom: 2px solid $red;

      h3 {
        padding: 12px 0;
        
      }

      @media screen and (max-width: 535px) {


        h3 {
          font-size: .8rem;
          display: block;
          margin: 0 auto;
        }

      }

      .star-client {
        color: rgb(209, 209, 21);
        display: flex;
        margin: 12px 0;
      }

      img {
        height: 100px;
        width: 100px;
        margin: 0 auto;
        border-radius: 50%;
      }

      p {
        width: 70%;

      }

      h3 {
        margin-top: -5px;
      }
    }
  }

  span {
    color: $rose;
  }

  h2 {
    font-weight: 900;
    margin: 32px 0;
    font-size: 1.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    word-break: 12px;
    position: relative;

    &::before {
      content: '';
      background: $rose;
      height: 3px;
      width: 30%;
      transform: translateX(100%);
      position: absolute;
    }

    &::after {
      content: '';
      height: 3px;
      width: 30%;
      transform: translateX(-100%);
      position: absolute;
      background: $rose;

    }
  }
}

@media screen and (max-width: 720px) {
  .client-pere {

    h2 {

      &::after,
      &::before {
        display: none;
      }
    }
  }
}