
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
@mixin childCenter{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@mixin childrenCenter($space){
  display: flex;
  align-items: center;
  justify-content: ($space);
}
$black: #000;
$rose: rgb(255, 0, 191);
$red: red;
$white: #fff;